@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
body{
    position: relative;
    background-image: url(./images/bg-pattern-desktop.svg);
    height: 800px;
    display: inline-grid;
    grid-template-rows: 70px 213.33px 1fr;
    grid-template-columns: 320px;
}
.container{
    text-align: center;
}
.below-container{
    display: block;
    grid-row: 3/4;
}
#logo{
    margin: 20px 0px 20px 30px;
    height: 40px;
    align-self: center;
    grid-row: 1/2;
}
#mobile-pic{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: block;
    grid-row: 2/3;
}
#desktop-pic{
    display: none;
}
.title{
    position: relative;
    color:hsl(0, 6%, 24%);
    letter-spacing: 9px;
    transform: translateX(-100%);
    animation: comeinleft 0.5s ease forwards;
    margin-top: 40px;
    line-height: 1.1;
    font-size: 43px;
}
@keyframes comeinleft{
    to{
        transform: translateX(0);
    }
}
.we{
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}
.text{
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    letter-spacing: 0.5px;
    line-height: 1.7;
    font-weight: 400;
    margin: 15px;
}
form{
    position: relative;
    display: flex;
    margin: 0px 15px 0px 15px;
}
.placeholder{
    position: relative;
    font-weight: 400;
    background-color: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    outline: none;
}
form.error .placeholder{
    border: 2px solid hsl(0, 93%, 68%);
}
form.success .placeholder{
    border: 2px solid hsl(0, 80%, 86%);
}
#icon-error{
    position: absolute;
    top: 12px;
    right: 80px;
    display: none;
    margin: 0;
}
form.error #icon-error{
    display: block;
}
#search-button{
    position: absolute;
    right: 0px;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
    border: none;
    outline: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
#search-button:hover{
    opacity: 0.6;
}
.error-text{
    position: absolute;
    display: none;
    margin-top: 55px;
    margin-left: 30px;
    font-size: 14px;
    color: hsl(0, 93%, 68%);
}
form.error .error-text{
    display: block;
}
.attribution{ 
    width: 100%;
    font-size: 11px;
    position: relative;
    bottom: -100px;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.attribution a{
     color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 700px){
    html{
        height: 941px;
        background-image: none;
    }
    body{
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        position: relative;
        height: 941px;
    }
    .container{
        text-align: left;
        min-height: 100vh;
    }
    .left{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #mobile-pic{
        display: none;
    }
    #desktop-pic{
        display: block;
        position: absolute;
        width: 40%;
        right: 0;
        min-height: 100%;
        height: 100vh;
    }
    #logo{
        position: absolute;
        top: 50px;
    }
    .title{
        position: absolute;
        top: 200px;
        letter-spacing: 20px;
        font-size: 70px;
    }
    .text{
        position: absolute;
        top: 500px;
        max-width: 450px;
        margin: 0;
    }
    form{
        top: 650px;
        width: 40%;
        left: -20px;
    }
    .attribution{ 
        font-size: 14px;
        text-align: center;
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
}